flows_raspberrypi.json
[{"id":"563d56f7.fbcb18","type":"tab","label":"Flow 1"},{"id":"18c3d76f.83bf39","type":"alexa-local","z":"563d56f7.fbcb18","devicename":"Door","inputtrigger":false,"x":193,"y":279,"wires":[["8ae8ee43.a5101"]]},{"id":"8ae8ee43.a5101","type":"exec","z":"563d56f7.fbcb18","command":"python ~/projects/x10/pycm19a.py +a2","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Run On Python Script","x":505,"y":279.5,"wires":[[],[],[]]},{"id":"aa569e9c.3d89f","type":"alexa-local","z":"563d56f7.fbcb18","devicename":"Hall Lamp","inputtrigger":false,"x":188,"y":197,"wires":[["ce689ea6.8a832","d337109.e3797f"]]},{"id":"ce689ea6.8a832","type":"debug","z":"563d56f7.fbcb18","name":"","active":true,"console":"false","complete":"false","x":424,"y":187,"wires":[]},{"id":"d337109.e3797f","type":"switch","z":"563d56f7.fbcb18","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"on","vt":"str"}],"checkall":"true","outputs":2,"x":413,"y":135,"wires":[["6fa0f758.13c288"],["d1b32729.e44a68"]]},{"id":"d1b32729.e44a68","type":"exec","z":"563d56f7.fbcb18","command":"python ~/projects/x10/pycm19a.py +a1","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Turn on Hall Lamp","x":658.5,"y":119.5,"wires":[[],[],[]]},{"id":"6fa0f758.13c288","type":"exec","z":"563d56f7.fbcb18","command":"python ~/projects/x10/pycm19a.py -a1","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Turn off Hall Lamp","x":670.5,"y":195.5,"wires":[[],[],[]]}]